body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
}

#wrapper {
    position: relative;
}

.noflex {
    width: 449px;
}



.nopadding {
    padding: 0;
}

.header-collapse {
    cursor: default;
    padding: 0;
    background-color: #fff0;
}

.search-btn2-pos {
	margin-top: 15px;
}

.button-pos {
    /*top: 344px;*/
    left: 344px;
    width: 112px;
    height: 112px;
    bottom: 0;
}

.search-btn-pos {
	margin-top: 20px;
}


/*.icon-menu {
	width: 100px;
}*/

.borderN {
    border: 0;
    box-shadow: 0 0 0 #fff0;
}

.floating-panel {
    position: absolute;
    bottom: 0;
    left: 5%;
    z-index: 5;
    /*background-color: #fff;*/
    /*padding: 5px;*/
    /*border: 1px solid #999;*/
    /*text-align: center;
  font-family: 'Roboto','sans-serif';*/
    /*line-height: 30px;*/
    /*padding-left: 10px;*/
}

.tap-target {
    color: #fff;
    background-color: #2bbbad;
    a {
        color: #fff;
        text-decoration: underline;
    }
}